.Wrapper {
  max-width: 50rem;
  margin: auto;
  /* height: 90vh; */
}

.Contact {
  border: 1px solid grey;
  width: 100%;
  margin: 1rem auto;
  height: 10rem;
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
  justify-content: space-between;
}

.Contact-add {
  display: flex;
  justify-content: flex-end;
}

.Contact-left {
  height: 8rem;
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
  justify-content: space-between;
  margin: 2rem;
}
.Contact-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.Contact-name {
  margin: 0 2rem 0.5rem;
  font-size: 1.2rem;
}

.Contact-info {
  margin: 0 2rem;
}
.Contact-ul {
}
.Contact-li {
  list-style: none;
}
.Contact-svg {
  margin: 0 1rem 0 0;
  color: grey;
}
.Contact-address {
  color: grey;
}
.Contact-phone {
  color: grey;
}
.Contact-email {
  color: grey;
}
.Contact-rigth {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-start;
  justify-content: space-between;
}

.Contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.Contact-change {
  margin: 1rem;
  cursor: pointer;
}

.Navbar-link {
  text-decoration: none;
}

.Navbar-title {
  font-size: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
